<!--
SPDX-FileCopyrightText: 2022 NewYork-Presbyterian Hospital

SPDX-License-Identifier: MIT
-->

{% load daggerboard_templatetags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{# url definitions #}
{% url 'vendor_scorecard' as vendor_sc %}
{% url 'sbom_scorecard' as sbom_sc %}
{% url 'sbom_report' as report_sc %}
{% url 'home' as homepage %}
<head>
{% include 'head.html'%}
</head>

<body>

<!-- start nav-->
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
<!-- end nav -->
<!-- main container -->
<div class="container">
    {% block body_container %}{% endblock body_container %}
</div>
{% block js_footer %}
    {% block bootstrap_js %}
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% endblock bootstrap_js %}
    <!-- slim select -->
     <script defer src="{% static 'js/upload_status.js' %}"></script>
    <script src="{% static 'js/slimselect.js' %}"></script>
    <!-- datatables -->
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    {% block js_script_content %}
    {% endblock js_script_content %}
{% endblock js_footer %}

</body>

</html>