<!--
SPDX-FileCopyrightText: 2022 NewYork-Presbyterian Hospital

SPDX-License-Identifier: MIT
-->

{% load static %}
{% load compress %}
{# make template modifiable using blocks #}
{% block title %}<title>Daggerboard</title>{% endblock title %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>{% endblock favicon %}
{% block head_meta %}
    {% block head_meta_charset %}
        <meta charset="UTF-8">
    {% endblock head_meta_charset %}
    {% block head_meta_viewport %}
        <meta name="viewport" content="width=500, initial-scale=1">
    {% endblock head_meta_viewport %}
    {% block head_meta_contentlanguage %}
        <meta http-equiv="Content-Language" value="en-US"/>
    {% endblock head_meta_contentlanguage %}
{% endblock head_meta %}
{% block head_css %}
    <!-- Handle SCSS theme for proj & import Bootstrap SCSS -->
    {% compress css %}
    <link type="text/x-scss" href="{% static 'daggerboard.scss' %}" rel="stylesheet">
    {% endcompress %}
    <!-- datatables-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <!-- import Chart.js -->
    <script src="{% static 'js/chart.js' %}"></script>
    <!-- slim select -->
    <link href="{% static 'css/slimselect.css' %}" rel="stylesheet">
{% endblock head_css %}